In [1]:
# Dependencies and Imports 
import pandas as pd
import numpy as np
# Set the column width
pd.set_option('max_colwidth', 400)

In [2]:
# Read CSV
# Read the data into a Pandas DataFrame
meteorite_df = pd.read_csv('Resources/meteorite-landings.csv')
# rename Geolocation to geolocation
meteorite_df = meteorite_df.rename(columns={'GeoLocation': 'geolocation'})
meteorite_df.head(20)

,name,id,nametype,recclass,mass,fall,year,reclat,reclong,geolocation
0,Aachen,1,Valid,L5,21.0,Fell,1880.0,50.77500,6.08333,"(50.775000, 6.083330)"
1,Aarhus,2,Valid,H6,720.0,Fell,1951.0,56.18333,10.23333,"(56.183330, 10.233330)"
2,Abee,6,Valid,EH4,107000.0,Fell,1952.0,54.21667,-113.00000,"(54.216670, -113.000000)"
3,Acapulco,10,Valid,Acapulcoite,1914.0,Fell,1976.0,16.88333,-99.90000,"(16.883330, -99.900000)"
4,Achiras,370,Valid,L6,780.0,Fell,1902.0,-33.16667,-64.95000,"(-33.166670, -64.950000)"
5,Adhi Kot,379,Valid,EH4,4239.0,Fell,1919.0,32.10000,71.80000,"(32.100000, 71.800000)"
6,Adzhi-Bogdo (stone),390,Valid,LL3-6,910.0,Fell,1949.0,44.83333,95.16667,"(44.833330, 95.166670)"
7,Agen,392,Valid,H5,30000.0,Fell,1814.0,44.21667,0.61667,"(44.216670, 0.616670)"
8,Aguada,398,Valid,L6,1620.0,Fell,1930.0,-31.60000,-65.23333,"(-31.600000, -65.233330)"
9,Aguila Blanca,417,Valid,L,1440.0,Fell,1920.0,-30.86667,-64.55000,"(-30.866670, -64.550000)"
10,Aioun el Atrouss,423,Valid,Diogenite-pm,1000.0,Fell,1974.0,16.39806,-9.57028,"(16.398060, -9.570280)"
11,AÃ¯r,424,Valid,L6,24000.0,Fell,1925.0,19.08333,8.38333,"(19.083330, 8.383330)"
12,Aire-sur-la-Lys,425,Valid,Unknown,NaN,Fell,1769.0,50.66667,2.33333,"(50.666670, 2.333330)"
13,Akaba,426,Valid,L6,779.0,Fell,1949.0,29.51667,35.05000,"(29.516670, 35.050000)"
14,Akbarpur,427,Valid,H4,1800.0,Fell,1838.0,29.71667,77.95000,"(29.716670, 77.950000)"
15,Akwanga,432,Valid,H,3000.0,Fell,1959.0,8.91667,8.43333,"(8.916670, 8.433330)"
16,Akyumak,433,Valid,"Iron, IVA",50000.0,Fell,1981.0,39.91667,42.81667,"(39.916670, 42.816670)"
17,Al Rais,446,Valid,CR2-an,160.0,Fell,1957.0,24.41667,39.51667,"(24.416670, 39.516670)"
18,Al Zarnkh,447,Valid,LL5,700.0,Fell,2001.0,13.66033,28.96000,"(13.660330, 28.960000)"
19,Alais,448,Valid,CI1,6000.0,Fell,1806.0,44.11667,4.08333,"(44.116670, 4.083330)"

In [3]:
#meteorite_df.isnull().any()
#missing_values = ['NONE', 'None', 'none', 'NAN', 'Nan', 'nan', 'NA', 'Na', 'na']
#meteorite_df = pd.read_csv('Resources/meteorite-landings.csv', na_values = missing_values)
meteorite_df.isnull().sum()

name              0
id                0
nametype          0
recclass          0
mass            131
fall              0
year            288
reclat         7315
reclong        7315
geolocation    7315
dtype: int64

In [4]:
# fill any null values in the csv with 'NA'.
#meteorite_df = meteorite_df.fillna("NA")
meteorite_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45716 entries, 0 to 45715
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   name         45716 non-null  object
 1   id           45716 non-null  int64
 2   nametype     45716 non-null  object
 3   recclass     45716 non-null  object
 4   mass         45585 non-null  float64
 5   fall         45716 non-null  object
 6   year         45428 non-null  float64
 7   reclat       38401 non-null  float64
 8   reclong      38401 non-null  float64
 9   geolocation  38401 non-null  object
dtypes: float64(4), int64(1), object(5)
memory usage: 3.5+ MB

In [7]:
meteorite_df = meteorite_df.dropna(subset=['reclat'])
meteorite_df = meteorite_df.dropna(subset=['reclong'])
meteorite_df = meteorite_df.dropna(subset=['mass'])
meteorite_df = meteorite_df.dropna(subset=['year'])
meteorite_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 38116 entries, 0 to 45715
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   name         38116 non-null  object
 1   id           38116 non-null  int64
 2   nametype     38116 non-null  object
 3   recclass     38116 non-null  object
 4   mass         38116 non-null  float64
 5   fall         38116 non-null  object
 6   year         38116 non-null  float64
 7   reclat       38116 non-null  float64
 8   reclong      38116 non-null  float64
 9   geolocation  38116 non-null  object
dtypes: float64(4), int64(1), object(5)
memory usage: 3.2+ MB

In [8]:
meteorite_df.isnull().sum()

name           0
id             0
nametype       0
recclass       0
mass           0
fall           0
year           0
reclat         0
reclong        0
geolocation    0
dtype: int64

In [9]:
# save our dataframe as a CSV for future use. 
meteorite_df.to_csv('./Resources/meteoriteDF.csv')

In [10]:
meteorite_dict = meteorite_df.to_dict('records')

In [11]:
from sqlalchemy import create_engine
from sqlalchemy import Column, Integer, String, Float
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import Session

Base = declarative_base()

C:\Users\mmmar\AppData\Local\Temp\ipykernel_10108\3326469109.py:6: MovedIn20Warning: Deprecated API features detected! These feature(s) are not compatible with SQLAlchemy 2.0. To prevent incompatible upgrades prior to updating applications, ensure requirements files are pinned to "sqlalchemy<2.0". Set environment variable SQLALCHEMY_WARN_20=1 to show all deprecation warnings.  Set environment variable SQLALCHEMY_SILENCE_UBER_WARNING=1 to silence this message. (Background on SQLAlchemy 2.0 at: https://sqlalche.me/e/b8d9)
  Base = declarative_base()

In [12]:
# connection to postgres
dbName = 'Project02'
username = 'postgres'
password = 'password'
engine = create_engine(f'postgresql://{username}:{password}@localhost/{dbName}')

connection = engine.connect()

In [13]:
# Create Declarative Base for the meteorite
class Meteor(Base):
    __tablename__ = 'meteorite'
    name =Column(String(255))
    id = Column(Integer, primary_key=True)
    nametype = Column(String(255))
    recclass = Column(String(255))
    mass = Column(Integer)
    fall = Column(String(255))
    year = Column(Integer)
    reclat = Column(Integer)
    reclong = Column(Integer)
    geolocation = Column(String(255))

In [14]:
Base.metadata.drop_all(engine)

Base.metadata.create_all(engine)

session = Session(bind=engine)

In [15]:
# put data from pandas into postgresql
for i in range(len(meteorite_dict)):
    newMeteor = Meteor(
        id = meteorite_dict[i]['id'],
        name = meteorite_dict[i]['name'],
        nametype = meteorite_dict[i]['nametype'],
        recclass = meteorite_dict[i]['recclass'],
        mass = meteorite_dict[i]['mass'],
        fall = meteorite_dict[i]['fall'],
        year = meteorite_dict[i]['year'],
        reclat = meteorite_dict[i]['reclat'],
        reclong = meteorite_dict[i]['reclong'],
        geolocation = meteorite_dict[i]['geolocation']
    )

    session.add(newMeteor)

In [16]:
session.commit()

In [17]:
session.close()